# While loop

    With the while loop we can execute a set of statements as long as a condition is true.

In [1]:
#let's print even numbers which are less than 10
i=2
while i<10:
    print(i)
    i+=2 #if we don't increment i the loop will continue forever
else:
    print("i is no longer less than 10")

2
4
6
8
i is no longer less than 10

In [2]:
#let's stop the loop when i is 6
i=2
while i<10:
    print(i)
    if i==6:
        break #stops the code when condition is met
    i+=2

2
4
6

# Functions

In [3]:
#defining a simple function that adds up two numbers
def sum_num(x1,x2):
    return x1+x2

In [4]:
print(sum_num(25,36))

61

In [5]:
#let's create a salary calculator which will calculate net salary after taxes
def sal_calc():
    salary=int(input("Insert your gross salary: "))
    if salary<500000:
        salary_after_tax=salary*0.77-salary*0.015-1000
    elif salary>=500000 and salary<1020000:
        salary_after_tax=salary*0.77-(salary*0.1-37500)-1000
    else:
        salary_after_tax=salary*0.77-64500-1000    
    return salary_after_tax

In [6]:
print(sal_calc())

Insert your gross salary: 400000
301000.0

# Quiz

In [7]:
#Solution
def pmt(pv,i,n):
    monthly_pmt=pv*i*((1+i)**n)/((1+i)**n-1)
    return monthly_pmt

In [8]:
print(round(pmt(40000,0.01,36),2))

1328.57

# Libraries

- To install a package on machine, one must run the following command on the command prompt/terminal: pip install packagename1 pacakgename2 ... (or **!pip install packagename1 packagename2 inside Jupyter Notebook**).
- A library is a collection of functions which we will use to do analysis. Libraries may contain not only functions but also data values (e.g., numerical constants).
- Python's <a><a href="https://docs.python.org/3/library/"> standard library </a> is installed with it. Many additional libraries are available from <a><a href="https://pypi.org/"> PyPI (the Python Package Index)</a>.
- Use <code>import</code> to load a library into a program's memory. Use <code>import...as...</code> to give a library a short alias while importing it. Then refer to items in the library using that shortened name <code>library_shortened_name.thing_name</code>. Python uses <b>"."</b> sign to mean "part of" something(e.g. library, DataFrame).
    
<b>!Note: Before starting your analysis, first import all the libraries you're going to use in your script.</b>

#installing libraries
<code> !pip install pandas </code>

In [9]:
#importing libraries
import pandas as pd #after as you can use whatever you want

# Reading data from csv using pandas

**! Make sure that csv file is under the same folder where JN file is.**

In [10]:
#read the csv file data
car=pd.read_csv("car_data.csv")

In [11]:
#the first five rows of data are printed
car.head(10)

,make,fuel_type,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,alfa-romero,gas,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,audi,gas,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,audi,gas,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,audi,gas,two,sedan,fwd,front,99.8,177.3,66.3,53.1,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,audi,gas,four,sedan,fwd,front,105.8,192.7,71.4,55.7,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,audi,gas,four,wagon,fwd,front,105.8,192.7,71.4,55.7,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,audi,gas,four,sedan,fwd,front,105.8,192.7,71.4,55.9,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,bmw,gas,two,sedan,rwd,front,101.2,176.8,64.8,54.3,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [12]:
#the last five rows of data are printed
car.tail()

,make,fuel_type,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
188,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
189,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.8,55.5,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
190,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
191,volvo,diesel,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
192,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [13]:
#let's get a quick summary of data
car.describe()

,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
count,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,98.923834,174.326425,65.893782,53.869948,2561.507772,128.124352,3.330622,3.248860,10.143627,103.481865,5099.740933,25.326425,30.787565,13285.025907
std,6.152409,12.478593,2.137795,2.394770,526.700026,41.590452,0.272385,0.315421,3.977491,37.960107,468.694369,6.387828,6.816910,8089.082886
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,94.500000,166.300000,64.100000,52.000000,2145.000000,98.000000,3.150000,3.110000,8.500000,70.000000,4800.000000,19.000000,25.000000,7738.000000
50%,97.000000,173.200000,65.400000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5100.000000,25.000000,30.000000,10245.000000
75%,102.400000,184.600000,66.900000,55.700000,2952.000000,146.000000,3.590000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16515.000000
max,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000

In [14]:
#calling one of the variables
car["price"].head()

0    13495
1    16500
2    16500
3    13950
4    17450
Name: price, dtype: int64

In [15]:
#calling specific value under price column
car["price"][0]

13495

In [16]:
#returning the first 5 rows and last column of car data
car.iloc[0:5,-1]

0    13495
1    16500
2    16500
3    13950
4    17450
Name: price, dtype: int64

In [17]:
#returning the first 15 rows and price and make columns of car data
car.loc[0:15,["price","make"]]

    price         make
0   13495  alfa-romero
1   16500  alfa-romero
2   16500  alfa-romero
3   13950         audi
4   17450         audi
5   15250         audi
6   17710         audi
7   18920         audi
8   23875         audi
9   16430          bmw
10  16925          bmw
11  20970          bmw
12  21105          bmw
13  24565          bmw
14  30760          bmw
15  41315          bmw

In [18]:
#printing all column names in car dataset
print(car.columns)

Index(['make', 'fuel_type', 'num_of_doors', 'body_style', 'drive_wheels',
       'engine_location', 'wheel_base', 'length', 'width', 'height',
       'curb_weight', 'engine_type', 'num_of_cylinders', 'engine_size',
       'fuel_system', 'bore', 'stroke', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

# For, if, functions

In [19]:
#how many observations are under price column
len(car["price"])

193

In [20]:
#let's use a for loop to return length of all columns
for i in car.columns:
    print(len(car[i]))

193
193
193
193
193
193
193
193
193
193
193
193
193
193
193
193
193
193
193
193
193
193
193

In [21]:
#%s is a format specifier. 
# %s tells the python interpreter about what format text it will be printing, on the console
for i in range(0,len(car.columns)):
    #print(car.columns[i])
    print("Column name is %s" %car.columns[i])

Column name is make
Column name is fuel_type
Column name is num_of_doors
Column name is body_style
Column name is drive_wheels
Column name is engine_location
Column name is wheel_base
Column name is length
Column name is width
Column name is height
Column name is curb_weight
Column name is engine_type
Column name is num_of_cylinders
Column name is engine_size
Column name is fuel_system
Column name is bore
Column name is stroke
Column name is compression_ratio
Column name is horsepower
Column name is peak_rpm
Column name is city_mpg
Column name is highway_mpg
Column name is price

In [22]:
#for the first 5 cars let's print car type
for i in range(0,5):
    if car["price"][i]>14000:
        print("Expensive Car")
    else:
        print("Cheap Car")

Cheap Car
Expensive Car
Expensive Car
Cheap Car
Expensive Car

In [23]:
#define function that will categorise cars by price
def car_type(price):
    if price>14000:
        return "Expensive Car"
    else:
        return "Cheap Cars"

In [24]:
#using function for price column
for i in range(0,5):
    print(car_type(car["price"][i]))

Cheap Cars
Expensive Car
Expensive Car
Cheap Cars
Expensive Car

In [25]:
#create list for all prices
cars_list=[]
for i in range(0,len(car.iloc[:,-1])):
    cars_list.append(car_type(car["price"][i]))
print(cars_list[:6])

['Cheap Cars', 'Expensive Car', 'Expensive Car', 'Cheap Cars', 'Expensive Car', 'Expensive Car']

# List Comprehensions

The following logic should be followed when creating LCs:

- **Only for statement:** First *output* should be printed then *for statement*,
- **for statement + if statement:** Fisrt *output* should be printed, then *for statement*, then *if* statement,
- **for statement + if statement+elif/else statement/s:** Fisrt *output* should be printed, then *if statement*,then *else/elif*, and at the end for statement should be printed.

In [26]:
#simple way of creating a list comprehension
[car_type(car["price"][i]) for i in range(0,5)]

['Cheap Cars', 'Expensive Car', 'Expensive Car', 'Cheap Cars', 'Expensive Car']

In [27]:
#without append creating a separate list of car types
cars_list_2=[car_type(car["price"][i]) for i in range(0,len(car.iloc[:,-1]))]

In [28]:
print(cars_list_2[:6])

['Cheap Cars', 'Expensive Car', 'Expensive Car', 'Cheap Cars', 'Expensive Car', 'Expensive Car']

In [29]:
#including if statement
["Expensive Car" for i in range(0,5) if car["price"][i]>14000]

['Expensive Car', 'Expensive Car', 'Expensive Car']

In [30]:
#including else statement
["Expensive Car" if car["price"][i]>14000 else "Cheap Car" for i in range(0,5)]

['Cheap Car', 'Expensive Car', 'Expensive Car', 'Cheap Car', 'Expensive Car']

# Creating Data Frame

In [31]:
#converting list into dataframe
cars_list_2=pd.DataFrame(cars_list_2,columns=["CarType"])
cars_list_2.head()

         CarType
0     Cheap Cars
1  Expensive Car
2  Expensive Car
3     Cheap Cars
4  Expensive Car

In [32]:
type(cars_list_2)

pandas.core.frame.DataFrame